<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crystal.tigers.s1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DisplayMessageActivity" />
        <activity android:name=".activities.RegisterUserActivity" />
        <activity android:name=".activities.S1BaseActivity" />
        <activity android:name=".activities.SearchStoreActivity" />
        <activity android:name="layout.listview.ListViewItemActivity" />
        <activity android:name=".activities.UserActivities.UserRetrieveActivity" />
        <activity
            android:name=".activities.TabbedSearchActivity"
            android:label="@string/title_activity_tabbed_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.stores.StoreDetailsActivity"
            android:label="@string/title_activity_store_details"
            android:parentActivityName=".activities.SearchStoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crystal.tigers.s1.activities.SearchStoreActivity" />
        </activity>
    </application>

</manifest>